.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

.row {
    width: 100%;
}

h1 {
    font-family: 'Satisfy', cursive;

}

.left-panel {
    position: absolute;
    font-family: 'Satisfy', cursive;
    color: black;
    background-color: white;
    background-image: url("../images/talit.png");
    object-fit: fill;
    height: 100%;
    width: 50%;
    margin-left: 0;
    margin-right: 50%;
    z-index: 10;
    transition: 0.5s;
    transform: translateY(100%);    
}



.right-panel {
    position: absolute;
    font-family: 'Satisfy', cursive;
    color: white;
    background-color:black;
    background-image: url("../images/microfono.png");
    object-fit: contain;
    height: 100%;    
    width: 50%;
    margin-right: 0;
    margin-left: 50%;
    z-index: 10;
    transition: 0.5s;
    transform: translateY(-100%);
}


.subtitle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
}
